.searchInput {
	width: 150px;
	outline: 0;
	padding: 10px;
}

.seachButton {
	margin-left: 20px;
	display: inline-block;
	width: 100px;
	border-radius: 3px;
	background-color: blue;
	color: #fff;
	padding: 10px 0;
    text-align: center;
    cursor: pointer;
}
.inline {
	display: inline-block;
}