.app{
  max-width: 1024px;
  margin: 0 auto;
}

.tab {
	cursor: pointer;
	color: blue;
	padding-left: 25px;
	display: inline-block;
}
.link {
	color: blue;
	cursor: pointer;
	display: inline-block;
	padding-left: 100px;
	vertical-align: top;
}