$staticHeight: 150px;

.picContainer {
	padding: 35px 0;
	border-bottom: 1px solid #e6e6e6;
	min-height: $staticHeight;
	position: relative;
}


.imgageContainer {
	position: absolute;
}
.pictureImage {
	width: $staticHeight;
	height: $staticHeight;
}

.rightSideContainer {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
	font-weight: bold;
	font-size: 30px;
	margin-left: $staticHeight + 40px;
}

.likeIcon {
	position: absolute;
	border-radius: 40%;
	height: 30px;
	width: 30px;
	right: 10px;
	top: 10px;
	background-color: white;
	border: 1px solid red;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
    font-size: 12px;
}

.liked {
	background-color: red;
}
